node_modules
max/recipe-app/src/environments/environment.prod.ts
max/recipe-app/src/environments/environment.ts

max/recipe-app/src/environments/environment.ts
max/recipe-app/src/environments/environment.prod.ts
max/recipe-app/src/environments/environment.ts
SideProjects/.DS_Store
.DS_Store
