/* * GLOBAL STYLES * */
body {
    margin: 0;
    min-height: 100vh;
    color: #0f172a;
    background-color: #f8fafc;
}

h1 {
    font-size: 3rem;
    margin: 0 0 0.5em 0;
    padding-top: 1.5em;
    color: #e0f2fe;
}

/* * PAGE STYLES * */
body.focus-form form {
    transform: scale(1.1);
}
body.focus-form .link-input {
    padding: 0.75em 1.5em;
    font-size: 1.5rem;
}
body.focus-form .overlay {
    opacity: 1;
}

.container {
    text-align: center;
    background: url("./img/bkg.jpg") no-repeat center/cover;
    min-height: 100vh;
    width: 100vw;
}

.overlay {
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;

    transition: 300ms ease opacity;
}

.btn {
    background-color: #e0f2fe;
    color: #0369a1;
    margin: 12px 8px;
    padding: 10px 20px;
    font-size: 2rem;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #60a5fa;
}

form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(275px, 50%, 700px);
    margin: 0 auto;

    transition: 500ms cubic-bezier(0.17, 0.67, 0.35, 1.6) opacity;
}

.link-input {
    padding: 0.5em 1.25em;
    font-size: 1.25rem;
    border-radius: 8px;
    width: 100%;

    transition: 500ms cubic-bezier(0.17, 0.67, 0.35, 1.6) all;
}

.link-list {
    position: relative;
    width: clamp(275px, 50%, 700px);
    margin: 2em auto 0 auto;
    padding: 0 0 5em 0;
}

.link-list li {
    position: relative;
    width: 100%;
    margin: 2em 0;
    background-color: #0c4a6e;
    border-radius: 8px;
    box-shadow: 0px 8px 17px 2px rgba(0, 0, 0, 0.14),
        0px 3px 14px 2px rgba(0, 0, 0, 0.12),
        0px 5px 5px -3px rgba(0, 0, 0, 0.2);

    transition: 350ms ease all;
}
.link-list li:hover {
    background-color: #0369a1;
    box-shadow: 0px 16px 24px 2px rgba(0, 0, 0, 0.14),
        0px 6px 30px 5px rgba(0, 0, 0, 0.12),
        0px 8px 10px -7px rgba(0, 0, 0, 0.2);
}

.link {
    display: block;
    color: #f0f9ff;
    text-decoration: none;
    font-size: 1.75rem;
    padding: 1.75em 0;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    padding: 0.5em 0.75em;
    border: none;
    color: #075985;
    background-color: #e0f2fe;
    opacity: 0.6;
    cursor: pointer;
    transition: 300ms ease all;
}
.close-btn:hover,
.close-btn:focus {
    opacity: 1;
    transform: scale(1.1);
}

/* * HELPER STYLES * */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}
input:focus {
    outline: 3px solid #e11d48;
}
