<div class="backdrop" (click)="onClose()"></div>

<!-- create a form -->
<form (ngSubmit)="onUpdate(taskForm)" #taskForm="ngForm">
  <div class="edit-box">
    <textarea
      name="info"
      id="info"
      cols="20"
      rows="3"
      value="{{ pristineText }}"
      [(ngModel)]="pristineText"
    ></textarea>
    <!-- <input type="text" name="info" id="info" value="{{ info.info }}" ngModel /> -->

    <div class="edit-box-action">
      <button class="btn btn-primary" type="submit">update</button>
    </div>
  </div>
</form>
