<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <label for="addItemInput">What would you like to do today?</label>

      <input
        #newItem
        placeholder="to-do list item"
        (keyup.enter)="createItem(newItem.value); newItem.value = ''"
        class="lg-text-input"
        id="addItemInput"
      />

      <button
        class="btn btn-primary btn-sm"
        (click)="createItem(newItem.value)"
      >
        Add
      </button>
      <hr />
      <ul>
        <!-- remember me - adding an index to *ngFor -->
        <li *ngFor="let item of allItems; index as i">
          <button class="btn btn-secondary btn-sm" (click)="updateItem(i)">
            update
          </button>
          <button class="btn btn-secondary btn-sm" (click)="deleteItem(i)">
            delete
          </button>

          <strong> {{ item.info }}</strong>
          / completed = {{ item.completed }}
          <!-- {{ i }} -->
        </li>
      </ul>
    </div>
  </div>
</div>
