<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form (ngSubmit)="onSubmit()" #todoForm="ngForm">
        <label for="addItemInput">What would you like to do today?</label>
        <input
          type="text"
          id="addItemInput"
          class="lg-text-input"
          ngModel
          placeholder="Type a to-do list item here"
          name="addItemInput"
          required
        />

        <button type="submit" class="btn btn-primary btn-sm">Add</button>
      </form>
    </div>
    <hr />

    <ul>
      <!-- remember me - adding an index to *ngFor -->

      <li *ngFor="let item of allItems; index as i">
        <div class="container">
          <div class="row">
            <div class="col">
              <button class="btn btn-secondary btn-sm" (click)="updateItem(i)">
                update
              </button>
            </div>
            <div class="col">
              <button class="btn btn-secondary btn-sm" (click)="deleteItem(i)">
                delete
              </button>
            </div>
            <div class="col">
              <strong> {{ item.info }}</strong>
            </div>
            <!-- <div class="col">/ completed = {{ item.completed }}</div> -->
            <div class="col">
              {{ item.completed === true ? "completed" : "not completed" }}
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
